In [1]:
import sys
import os

# Add project root to Python path
project_root = os.path.abspath(os.path.join(os.getcwd(), ".."))
if project_root not in sys.path:
    sys.path.append(project_root)

In [2]:
# from hybridtablerag.llm.factory import get_llm

# llm = get_llm("ollama", "qwen3:8b")

# response = llm.generate("Say hello")
# print(response)

In [7]:
from hybridtablerag.llm.factory import get_llm

llm = get_llm("gemini","gemini-2.5-flash")

response = llm.generate("Say hello")
print(response)

Hello!

In [4]:
# from hybridtablerag.llm.factory import get_llm

# llm = get_llm("openai","gpt-4.1-mini")

# response = llm.generate("Say hello")
# print(response)

In [4]:
from hybridtablerag.llm.factory import get_llm
from hybridtablerag.reasoning.sql_generator import LLMSQLGenerator
from hybridtablerag.storage.duckdb_manager import DuckDBManager

llm = get_llm("gemini", "gemini-2.5-flash")

generator = LLMSQLGenerator(llm)

db = DuckDBManager()

schema_metadata = db.build_structured_schema_metadata()
relationships = db.infer_relationships_structured()

query = "Which industry generated highest revenue?"

response = generator.generate_sql(
    user_query=query,
    schema_metadata=schema_metadata,
    relationships=relationships,
    reasoning=True
)

print("Reasoning:\n", response["reasoning"])
print("\nSQL:\n", response["sql_query"])

result = db.execute_query(response["sql_query"])
result

[DuckDB] Initialized at d:\Nikita\AI ML Engineer\s2s dynamics\HybridTableRag\data/hybridtablerag.duckdb
Reasoning:
 The user wants to find the industry that generated the highest revenue. Revenue can be calculated by multiplying 'quantity' and 'unit_price' from the 'sales' table. The 'industry' information is available in the 'customers' table. Both tables can be joined using the 'customer_id' column.

1. **Join Tables**: Join the 'sales' table with the 'customers' table on 'customer_id' to link sales data with customer industry information.
2. **Calculate Revenue**: For each sale, calculate the revenue as `sales.quantity * sales.unit_price`.
3. **Group by Industry**: Group the results by `customers.industry` to aggregate revenue per industry.
4. **Sum Revenue**: Sum the calculated revenue for each industry using `SUM(sales.quantity * sales.unit_price)`.
5. **Order Results**: Order the results in descending order of the total calculated revenue to bring the highest revenue industry to the top.
6. **Limit Result**: Limit the output to 1 to get only the industry with the absolute highest revenue.

SQL:
 SELECT
  T2.industry
FROM sales AS T1
INNER JOIN customers AS T2
  ON T1.customer_id = T2.customer_id
GROUP BY
  T2.industry
ORDER BY
  SUM(T1.quantity * T1.unit_price) DESC
LIMIT 1;

     industry
0  Technology